.heart{
    margin-top: 800px;
    width: 800px;
    left: 350px;
    position: absolute;
    float: left;
}
img:nth-child(2)
{
    margin-top: 200px;
    left: 20px;
    width: 700px;
}
img:nth-child(3)
{
    margin-top: 1400px;
    left: 650px;
    width: 700px;
}